.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.farm {
  width: 60%;
}

.farm-image {
  display: flex;
  justify-content: center;
}

.farm-image img {
  max-width: 70%;
  max-height: 70%;
}

.info {
  display: flex;
}

.info p {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
