body {
  background-color: rgba(241, 196, 15, 1);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0 0;
  left: 0;
  top: 0;
}

.kontakt,
.info,
.farm {
  border-top: 5vh solid rgb(85, 85, 85);
  height: 95vh;
  /* top: 5vh !important; */
}

.headeer {
  display: inline-block;
  position: fixed;
}

.headeer ul {
  text-align: center;
  display: inline-block;
}

.headeer ul li {
  display: inline-block;
}

.headeer ul li {
  font-family: Arial;
  padding-left: 17vw;
  margin: 0 auto;
  font-size: 1.2em;
  text-transform: uppercase;
}

.headeer ul li a {
  text-decoration: none;
  color: #fff;
}
.headeer ul li a::after {
  text-decoration: none;
  color: inherit;
}

.headeer ul li a:hover {
  text-decoration: none;
  color: orange;
}

.vidWrap {
  height: 100vh;
  width: 100vw;
}

.vidWrap video {
  z-index: -10;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
}

.bannerTxt {
  display: table;
  margin: 0 auto;
  padding-top: 25vh;
  z-index: 10;
  width: 80vw;
}

.bannerTxt h1 {
  font-family: Lobster;
  color: rgba(236, 240, 241, 0.8);
  text-shadow: #fc0 1px 0 10px;
  letter-spacing: 1vw;
  display: table;
  padding-top: 5%;
  text-transform: uppercase;
  font-size: 8vw;
  margin: 0 auto;
}
.bannerTxt p {
  font-family: arial;
  text-align: center;
  display: table;
  color: #fff;
  font-size: 2vw;
  margin: 0 auto;
  width: 50vw;
}

.kontakt > div {
  display: inline-block;
  padding-left: 5vw;
  padding-top: 5%;
}
.kontakt {
  z-index: -1;
  position: sticky;
  text-align: center;
  top: 0;
  margin: 0 auto;
  background-color: #e7b829;
  width: 100%;
  color: rgb(224, 224, 224);
  text-shadow: 1px 1px 1px #00000033;
}
.kontakt img {
  height: 35vh;
  border-radius: 500px;
}

.kontakt h1 {
  font-size: 4rem;
  font-family: "lobster";
  letter-spacing: 0.05rem;
  color: #555;
  margin: 0;
}

.kontakt h2 {
  margin: 0;
  margin-bottom: 2.5vh;
  font-size: 3rem;
  font-family: arial;
  text-transform: capitalize;
}

.kontakt p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.konJorgen,
.konUnni,
.konEmma {
  margin: auto auto;
}

.info {
  position: sticky;
  top: 0;
  z-index: -1;
  background-color: rgba(246, 185, 59, 1);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.produkt {
  display: flex;
  justify-content: space-evenly;
}

.produkt div {
  flex: 1;
  margin: 3rem;
}

.produkt div > img {
  border-radius: 500px;
  width: 100%;
}

.produkt h1,
.farm h1 {
  color: #555;
  letter-spacing: 0.05rem;
  font-family: "Lobster";
  font-size: 2rem;
}

.produkt p,
.farm p {
  font-size: 1rem;
  font-style: times;
}

.farm {
  background-color: rgb(252, 177, 64);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.farm-text-wrapper {
  width: 50vw;
}

.farm-image-wrapper {
  width: 90vw;
}

.farm img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.produkt-mobil {
  display: none;
}

@media only screen and (max-width: 900px) {
  /*HEADER*/

  .headeer {
    width: 100vw;
  }

  .headeer ul {
    display: flex;
    justify-content: space-evenly;
  }

  .headeer ul li {
    font-size: 1rem;

    flex: 1;
    margin: 0;
    padding: 0;
  }

  /*Produkter*/

  .produkt-mobil {
    display: flex;
    flex-direction: column;
  }

  .produkt-mobil .produkt1,
  .produkt-mobil .produkt2,
  .produkt-mobil .produkt3 {
    background-color: #ff8c42;
    border-top: 5vh solid rgb(85, 85, 85);
    position: sticky;
    z-index: -1;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .produkt-mobil div img {
    max-height: 80%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 500px;
    margin-top: 5vh;
  }

  .produkt-mobil div h1,
  .produkt-mobil div p {
    font-family: "Lobster";
    font-size: 4rem;
    margin: 0 auto;
    color: #555;
    margin-top: 1rem;
  }

  .produkt-mobil div p {
    color: snow;
    font-size: 1rem;
    margin: 0 auto;
    width: 90vw;
    margin-top: 2rem;
    font-family: Arial;
  }

  .info {
    display: none;
  }

  .produkt h1 {
    font-size: 10rem;
    margin-top: 0;
  }

  /*Garden*/

  .farmContainter {
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .farm h1,
  .farm p {
    margin: 2vh auto;
    flex: 1;
  }
  .farm-text-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 2000px) {
  .info img {
    max-width: 50vh;
  }
}
